* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

#recuadro {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    padding: 20px;
    color: white;
    background-color: rgba(87, 38, 127, 1);
    box-shadow:
    0 0 2px rgba(148, 0, 211, 1),
    0 0 4px rgba(148, 0, 211, 1),
    0 0 8px rgba(148, 0, 211, 1),
    0 0 16px rgb(87, 38, 127, 1),
    0 0 32px rgba(87, 38, 127, 1),
    0 0 48px rgba(87, 38, 127, 1),
    0 0 50px rgb(48, 20, 71, 1),
    0 0 60px rgba(48, 20, 71, 1),
    0 0 70px rgba(48, 20, 71, 1);
    border-radius: 10px;
    text-align: center;
    z-index: 1000;
}
.inicio {
    background: #1f002b;
    width: 100%;
    text-align: center;
    overflow-x: hidden;
}

.productos {
    background: #1f002b;
    overflow: hidden;
    border-bottom-left-radius: 50% 20px;
    border-bottom-right-radius: 50% 20px;
}

.cards {
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.cardpolas {
    width: 400px;
    height: 500px;
    padding: 20px;
}

#pola1{
    display: block;
    width: 300px;
    height: auto;
    margin-bottom: 15px;
}
#pola1:hover {
    animation: wavep 2s linear infinite;
}

#pola2 {
    display: block;
    width: 300px;
    height: auto;
    margin-bottom: 15px;
}
#pola2:hover {
    animation: wavep 2s linear infinite;
}

.lema {
    color: white;
    font-size: 30px;
    padding: 20px;
    text-shadow:
        0 0 2px rgba(148, 0, 211, 1),
        0 0 4px rgba(148, 0, 211, 1),
        0 0 6px rgba(148, 0, 211, 1),
        0 0 12px rgb(87, 38, 127, 1),
        0 0 18px rgba(87, 38, 127, 1),
        0 0 24px rgba(87, 38, 127, 1),
        0 0 30px rgb(48, 20, 71, 1),
        0 0 40px rgba(48, 20, 71, 1),
        0 0 50px rgba(48, 20, 71, 1);
}

.lema {
    animation: wave 5s infinite;
}

:root {
    --card-width: 30%;
    --card-height: 80%;
    --photo-container-size: 200px;
    --border-radius: 10px;
}

.equipo {
    font-size: 2em;
    margin-bottom: 20px;
    color: #ffffff;
    text-shadow:
        0 0 2px rgba(148, 0, 211, 1),
        0 0 4px rgba(148, 0, 211, 1),
        0 0 8px rgba(148, 0, 211, 1),
        0 0 16px rgb(87, 38, 127, 1),
        0 0 32px rgba(87, 38, 127, 1),
        0 0 48px rgba(87, 38, 127, 1),
        0 0 50px rgb(48, 20, 71, 1),
        0 0 60px rgba(48, 20, 71, 1),
        0 0 70px rgba(48, 20, 71, 1);
}

.presentacion {
    text-align: center;
    background: #ffffff;
    padding: 40px;
}

.employee-cards-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.employee-card {
    width: var(--card-width);
    height: var(--card-height);
    width: 280px;
    height: auto;
    margin: 10px;
    padding: 10px;
    background-color: #e7e7e7;
    box-shadow: 0 0 8px 0 purple;
    border-radius: var(--border-radius);
    box-sizing: border-box;
}

.employee-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.employee-content:hover {
    animation: wave 2s ease infinite;
}

.employee-text {
    text-align: center;
    margin-top: 15px;
}

.employee-photo {
    width: var(--photo-container-size);
    height: var(--photo-container-size);
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 15px;
}

.employee-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.employee-name {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 8px;
}

.employee-profession {
    font-style: italic;
    color: #666;
    margin-bottom: 12px;
}

.employee-description {
    font-size: 1em;
    color: #333;
}

@keyframes wave {

    0%,
    50%,
    100% {
        transform: translateY(0);
    }

    25%,
    75% {
        transform: translateY(-3px) translateX(3px);
    }
}
@keyframes wavep {

    0%{
        transform: translateY(0);
    }
    25%{
        transform: translateY(5px) translateX(5px);
    }
    50%{
        transform: translateY(-5px) translateX(5px);
    }
    75%{
        transform: translateY(5px) translateX(-5px);
    }
    100% {
        transform: translateY(0);
    }  
}